#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2rem;
}

.read-the-docs {
  color: #888;
}

body{
  font-family: 'Inter', sans-serif;
  background-color: white;
  margin: 0;
  padding:0;
}

.container{
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

.section{
  margin-bottom: 3rem;
  text-align: left;
}
.justify_text{
  text-align: justify;
  text-justify: inter-word;
  padding-left: 2.5rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

#headerTitle{
  font-size: 1.2rem;
  text-align: left;
  border-bottom: 3px solid lightblue;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
#list{
  text-align: left;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
#small_title{
  text-align: left;
  font-size: 1.2rem;
  padding-left: rem;
  font-weight:bold;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

#educationList{
  list-style-type: disc;
  margin-left: 2rem;
  padding-left: 0;
}

.educationItem{
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items:basline;
  margin-bottom: 0.4rem;
}

.education_left{
  flex: 1;
  padding-right: 1rem
}
.education_right{
  white-space: nowrap;
  font-size: 0.95rem;
  color: #333;
}

